<div class="ribbon l-box-lrg pure-g">
  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
    <h2 class="content-head content-head-ribbon">About Me</h2>
    <p class="summary">
      Nice to meet you! I am Ladan Azita Nasserian, know also as Ladawn.<br> I am a freelance web developer freshly minted from <a href="http://profiles.generalassemb.ly/profiles/ladanazita">General Assembly</a> .<br>  I answer <a href="http://quora.com/ladan-azita"> questions</a> , <a href="http://twitter.com/ladanazita">tweet</a> , and love to <a href="http://behance.net/ladanazita">draw</a> . <br> Most recently, I have been inclined to create<a href= "/featured"> things</a> .
    </p>
  </div>
</div>