<!DOCTYPE html>
<html lang='en' ng-app="app">
<head>

  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#if title}} {{title}}{{/if}}</title>
  <meta name="description" content='personal works'>
  <meta name="author" content='Ladan Azita'>

  {{!---- STYLE ----}}
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>

  {{!-- ANGULAR & JQUERY --}}
  <script src="/bower/angular/angular.js"></script>
  <script src="/bower/ui-router/release/angular-ui-router.js"></script>
  <script src="/bower/angular-resource/angular-resource.js"></script>
  <script src="/js/jquery.js"></script>

  {{!-- JS --}}
  <script src="/js/app/app.js"></script>
  <script src="/js/app/route-config.js"></script>
  <script src="/js/app/controllers/worksController.js"></script>
  <script src="/js/app/controllers/contactController.js"></script>
  <script src="/js/factories/factory.js"></script>
  {{!-- // <script src="/js/app/controllers/portfolioController.js"></script> --}}
  <script src="/js/filters.js"></script>


</head>

<body>
  {{!-- FIXED SPLASH PAGE --}}
  <div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">Ladan Azita Nasserian</h1>
      <ul class ="splash-subhead">
        <li><a ui-sref="about">About Me</a></li>
        <li><a ui-sref="featured">Featured Projects</a></li>
        <li><a ui-sref="contact">Contact</a></li>
      </ul>
    </div>
  </div>

  {{!-- CLICKED CONTENT --}}
  <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center"></h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    {{{title}}}
                </h3>
                <div ui-view></div>
            </div>
        </div>
    </div>
    {{!-- SOCIAL --}}
    <div class="ribbon l-box-lrg pure-g">
      <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
          <h2 class="content-head content-head-ribbon">Find me on:</h2>
          <ul class= "social">
            <li><a href="http://twitter.com/ladanazita" class="social-icon twitter">Twitter</a></li>
            <li><a href="http://iazt.tumblr.com/" class="social-icon tumblr">Tumblr</a></li>
            <li><a href="https://www.linkedin.com/in/ladanazita" class="social-icon linkedin">LinkedIn</a></li>
            <li><a href="http://github.com/ladanazita" class="social-icon github">github</a></li>
            <li><a href="https://www.youtube.com/user/ladandandan" class="social-icon youtube">You Tube</a></li>
            <li><a href="http://artsy.net/ladan-nasserian" class="social-icon artsy">Artsy</a></li>
            <li><a href="http://behance.net/ladanazita" class="social-icon behance">Behance</a></li>
            <li><a href="http://quora.com/Ladan-Azita" class="social-icon quora">Quora Digest</a></li>
            <li><a href="http://careers.stackoverflow.com/ladanazita" class="social-icon stack">Stack Overflow</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{!-- SOURCE CODE / FOOTER --}}
    <div class="footer l-box is-center">
      View Source Code<a href='http://github.com/ladanazita/ladanazita'> Here </a>
    </div>

</div>


</body>
</html>