<!DOCTYPE html>
<html lang='en'>
<head>

  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#if title}} {{title}}{{/if}}</title>
  <meta name="description" content='personal works'>
  <meta name="author" content='Ladan Azita'>


  <!-- sweet, sweet angular
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="node_modules/ng-resource/lib/angular-resource.js"></script>
  <script src="js/main.js"></script>
  <script src="js/mainController.js"></script>
  <script src="js/routing.js"></script>
  <script src="js/app/route-config.js"></script> -->

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/animations.css" />
  <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
  <script type='text/javascript' src='/js/jquery.js'></script>
  <script type='text/javascript' src='/js/wp-backgrounds.js'></script>
</head>

<body>
  <div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">Ladan Azita Nasserian</h1>
      <p class ="splash-subhead">
        Choose:
        <a href="/about">About Me</a>
        <a href="/featured">Featured Projects</a>
        <a href="/contact">Contact</a>
      </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="wrapper">
      <header>
          {{{body}}}
      </header>
    </div>
  </div>



</body>
</html>