<h2> I am all over the place!</h2>
  <ul class= "social">
    <li><a href="http://twitter.com/ladanazita" class="social-icon twitter">Twitter</a></li>
    <li><a href="http://iazt.tumblr.com/" class="social-icon tumblr">Tumblr</a></li>
    <li><a href="https://www.linkedin.com/in/ladanazita" class="social-icon linkedin">LinkedIn</a></li>
    <li><a href="http://github.com/ladanazita" class="social-icon github">github</a></li>
    <li><a href="https://www.youtube.com/user/ladandandan" class="social-icon youtube">You Tube</a></li>
    <li><a href="http://artsy.net/ladan-nasserian" class="social-icon artsy">Artsy</a></li>
    <li><a href="http://medium.com/@ladanazita" class="social-icon medium">Medium</a></li>
    <li><a href="http://behance.net/ladanazita" class="social-icon behance">Behance</a></li>
    <li><a href="http://quora.com/Ladan-Azita" class="social-icon quora">Quora Digest</a></li>
  </ul>