/*----------------RESET---------------- */
html {
  box-sizing: border-box;
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, subhead, summary {
  display: block;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
    color: #1E1E1E;
  margin-bottom: 1.5em;
    font-size: 2em;
    text-shadow: 0 1px 1px #FFFFFF;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*---------------GENERAL----------------- */

@import url(http://fonts.googleapis.com/css?family=Nunito:300);

body{
  font-family: 'Nunito', sans-serif;
  line-height:1.7em;
  color: #63c5ae;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

/* unvisited link */
a:link {
    color: #577d87;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #577d87;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color:  #bfffcb;
    text-decoration: none;
}

/*---------------SPLASH----------------- */

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.splash-container {
    background: #ffc7d1;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the pink section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}


/* -- BUTTON STYLES --*/

.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

/* ---- CONTENT STYLES ---*/
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}
/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
    text-align: center;
    font-size: 2em;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #63c5ae;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

/* ----------- ABOUT ME -------*/
.summary{
  padding: 25px 80px 25px 25px;
  font-size: 14px;
  color: white;
  border: solid white;
  margin:0px;
  text-align: center;
}

/* ---------  FORM STYLES -------*/

.feedback-input {
  color:#3c3c3c;
  font-family: 'Nunito', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* ------------------- FORM ICONS ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Nunito',sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}

.submit:hover {
  color: #3498db;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}


/* -- TABLET (AND UP) MEDIA QUERIES -- */

@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/* -- LAYOUT STYLES --*/

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}
/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --*/
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

/*----------------SOCIAL----------------*/
.social {
    margin-left: 34%;

}
.social li {
    margin: 2px;
  list-style: none outside none;
  float: left;
}

.social-icon {
  direction: ltr;
    text-indent: -9999px;
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    background: no-repeat left top transparent;
}

.social-icon.twitter { background-image: url("../images/icons/twitter.png"); }
.social-icon.tumblr { background-image: url("../images/icons/tumblr.png"); }
.social-icon.linkedin { background-image: url("../images/icons/linkedin.png"); }
.social-icon.github{ background-image: url("../images/icons/github.png"); }
.social-icon.youtube { background-image: url("../images/icons/youtube.png"); }
.social-icon.artsy { background-image: url("../images/icons/artsy.png"); }
.social-icon.medium { background-image: url("../images/icons/medium.png"); }
.social-icon.behance { background-image: url("../images/icons/behance.png"); }
.social-icon.quora { background-image: url("../images/icons/quora.png"); }
.social-icon.stack { background-image: url("../images/icons/stackoverflow.png"); }


/*--------------SAVE FOR LATER------------------ */



/*#websites{
  padding: 25px 80px 25px 25px;
  float: right;
  font-size: 200%;
}
#websites ul{
  display:inline;
  padding-left:0;
  margin-left:0;
}

#websites ul li{
  display:inline;
  padding-left: 0.5em;
}
.wrapper{
  margin: 0 auto;
  width: 940px;
  padding-top: 2em;
}*/
